<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <title>Password Reset</title>
  </head>
  <body>
    <div id="password_reset_confirm">
      <h3>Enter new password</h3>

      <p>
        Please enter your new password twice so we can verify you typed it in
        correctly.
      </p>

      <form method="post">
        {% csrf_token %} {{form}}
        <input type="Submit" name="Update Password" />
      </form>
    </div>
  </body>
</html>
